body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#navbar {
  display: flex;
  background-color: rgb(200, 231, 253);      
  overflow: hidden;
  justify-content: space-evenly;
  height: 40px;
}

#navbar Link {
  float: left;
  display: flex;
  color: #6a8abd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar Link:hover {
  background-color: #5e5d5d;
  color: rgb(74, 74, 137);
}

#navbar Link.active {
  background-color: #4CAF50;
  color: rgb(0, 0, 0);
}

/* Expand on hover */
body:hover #navbar {
  height: 50px; /* Adjust this value as needed */
  transition: height 0.5s ease;
}

/* Restore default height on scroll */
body.scrolled #navbar {
  height: 50px; /* Adjust this value as needed */
}